html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#root {
    margin-left: 0;
    padding:0;
}

.session-links {
    display: flex;
    align-items: center;
    cursor: pointer;
    list-style-type: none;
    position: relative;
    border-radius: 30px;
    padding: 10px;
    background-color: white;
    padding: 0.3em 0.8em;
    transition: box-shadow 0.3s ease;
}

.session-links:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.session-links div:first-child {
    padding-right: 7px;
}
.menu-dropdown, .menu-bars {
    margin: 5px;
}
.stay-container {
    font-size: 20px;
    font-weight: bold;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
}
.header-container,
.header2-container {
    /* box-sizing: border-box; */
    display: flex;
    -webkit-font-smoothing:antialiased;
    margin: 0;
    padding: 0 80px;
    width: 100vw;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;

}
.header2-container {
    justify-content: center;
    width: 100vw;
    margin: 30px;
}
.navbar {
    padding: 10px 0;
    list-style-type: none;
    justify-content: space-between;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    height: 80px;
    width: 100%;
    left: 0px;
    line-break: strict;
    line-height: 20.02px;
    position: relative;
    text-size-adjust :100%;
    align-items: center;
    cursor: pointer;
    box-sizing:  border-box;
}


.navbar-container {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;

}
.navbar-logo {
    display: flex;
    align-items: center;
    /* margin-right: 8px; */
    color: rgba(255,90,96);	
    font-weight: bold;
    font-size: 20px;
}
.navbar-logo li:first-child {
    padding: 0;
    /* margin: 0; */
    margin-right: 5px;
}

.navbar-logo li a {
    text-decoration: none;
    color: rgba(255,90,96);

}
.navbar-menu {
    display: flex;
    justify-content: row;
    font-weight: bold;
    align-items: center;
}
.navbar-menu div:first-child {
    padding-right: 10px;
    font-size: 15px;
}
.navbar-explore {
    display: flex;
    flex-direction: column;
}


.navbar-explore li{
    /* margin: 8px; */
    display: flex;
    flex-direction: row;
    font-size: 20px;

}

.navbar-menu li {
    display: flex;
    list-style-type: none;
}
.navbar-menu div:first-child {
    margin-right: 5px;
}

.dropdown {
    display: block;
    /* padding: 2px; */
    /* margin: 0; */
    top: 100%;
    right: 1%;
    position: absolute;
    background-color: white;
    border-radius: 15px;
    border: 0.5px solid grey;

}

.dropdown li {
    margin: 10px;
    padding-bottom: 5px;
    font-size: 15px;
    cursor: pointer;

}

.navbar-logo li,
.menu-dropdown *,
.dropdown *,
.navbar-menu .menu-user,
.navbar-logo a {
    cursor: pointer;
}