html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ================================================================== */
#root {
    margin: 0;
    padding:0;
}
.room-hosting-links {
    cursor: pointer;
}
.session-links {
    display: flex;
    align-items: center;
    cursor: pointer;
    list-style-type: none;
    position: relative;
    border-radius: 30px;
    padding: 10px;
    background-color: white;
    padding: 0.3em 0.8em;
    transition: box-shadow 0.3s ease;
}

.session-links:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.menu-dropdown, .menu-bars {
    margin: 3px;
}
.stay-container {
    font-size: 20px;
    font-weight: bold;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
}
.navbar-explore {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    position: fixed;
    left: 52.5%;
    top: 3%;
    transform: translate(-50%, -50%);
}

.header-container {
    box-sizing: border-box;
    display: flex;
    -webkit-font-smoothing:antialiased;
    margin: 0;
    margin-top: 0px;
    padding: 0 50px;
    padding-bottom: 25px;
    width: 100vw;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    border-bottom: 1px solid;
    border-bottom-color: #d3d3d3;
    position: fixed;
    z-index: 99;
    background-color: white;
    /* flex-grow: 1; */
}


.header2-container {
    justify-content: center;
    width: 100vw;
    margin-left: 50px;
    position: sticky;
    /* background-color: blue; */
}
.navbar {
    padding: 10px 0;
    list-style-type: none;
    justify-content: space-between;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    height: 80px;
    width: 100%;
    left: 0px;
    line-break: strict;
    line-height: 20.02px;
    position: relative;
    text-size-adjust :100%;
    align-items: center;
    cursor: pointer;
    box-sizing:  border-box;
}
  
.navbar-container {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;

}
.navbar-explore {
    /* flex-grow: 1; */
    flex-shrink: 2;
}
.navbar-logo {
    display: flex;
    align-items: center;
    /* color: rgba(255,90,96);	 */
    color: #FF385C;
    font-weight: bold;
    font-size: 20px;
    flex-shrink: 1;
}
.navbar-logo li:first-child {
    padding: 0;
    /* margin: 0; */
    margin-right: 5px;
}

.navbar-logo li a {
    text-decoration: none;
    /* color: rgba(255,90,96); */
    color: #FF385C;

}
.navbar-menu {
    display: flex;
    justify-content: row;
    font-weight: bold;
    align-items: center;
    flex-shrink: 1;
    z-index: 2;
}
.navbar-menu div:first-child {
    font-size: 13px;
}



.navbar-explore li{
    /* margin: 8px; */
    display: flex;
    flex-direction: row;
    font-size: 20px;

}

.navbar-menu li {
    display: flex;
    list-style-type: none;
}
.navbar-menu div:first-child {
    margin-right: 5px;
}

.dropdown {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,.12);
    box-sizing: border-box;
    display: block;
    margin-top: 34px;
    min-width: 240px;
    padding: 8px 0;
    position: absolute;
    right: 0;
    top: 20px;
    cursor: pointer;

}
.divider {
    border-bottom: 1px solid;
    border-bottom-color: #d3d3d3;}

.dropdown li {
    margin: 10px;
    padding-bottom: 5px;
    font-size: 15px;
    cursor: pointer;

}
.github-icon, .linkedin-icon {
    padding-right: 15px;
}
.navbar-logo li,
.menu-dropdown *,
.dropdown *,
.navbar-menu .menu-user,
.navbar-logo a {
    cursor: pointer;
}

