@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');


#root {
    padding: 0;
}
.top-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

.session-links {
    display: flex;
    align-items: center;
    cursor: pointer;
    list-style-type: none;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    padding: 0.3em 0.8em;
    box-shadow: 0 0 0 .1em inset rgba(255,90,96) ;
}

.session-links span:first-child {
    padding-right: 10px;
}
.navbar {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-family: 'Nunito Sans', sans-serif;
    align-items: center;
}
.navbar-logo {
    display: flex;
    align-items: center;
    margin-right: 8px;
    color: rgba(255,90,96);
    font-weight: bold;
}
.navbar-logo li a {
    text-decoration: none;
    color: rgba(255,90,96);

}
.navbar-logo li:first-child {
    margin-right: 5px;
}
.navbar-explore li{
    margin: 8px;
    flex-direction: row;
}
.navbar-menu {
    display: flex;
    flex-direction: row;
}
.navbar-menu li {

    display: flex;
    list-style-type: none;
    cursor: pointer;
}
.navbar-menu li:first-child {
    margin-right: 5px;
}


.dropdown {
    display: block;
    padding: 2px;
    margin: 0;
    top: 100%;
    right: 1%;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    border: 0.5px solid;
}
.dropdown li {
    margin: 10px;
    padding: 5px;
}