.edit-form-subject {
    margin-top: 20%;
    background-color: rgb(208, 255, 113);
    padding: 10px;
}
.edit-form-inner-container {
    background-color: beige;
    padding-top: 30px;
    /* margin-top: 20%; */
    padding-bottom: 30px;
}
.reservation-date-button,
.guest-dropdown {
    width: 100%; 
}
.reservation-date-button {
    background-color: rgb(214, 174, 251);
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom-color: rgb(176, 176, 176);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    /* margin-right: 0; */
}

.guest-dropdown {
    background-color: rgb(113, 203, 230);
}
.checkin {
    flex:1;
    padding: 10px;
    text-align: start;
}
.checkin-label, .checkout-label {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.checkout-label {
    text-align: center;
}
.checkin-input, 
.checkout-input {
    justify-content: start;
    
}
.checkout {
    flex:1;
    padding: 10px;
    text-align: start;
}
