
.trip-outer-container {
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    padding: 5px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 139px;
    height: 100%;
    min-width: 1200px;

}
.trip-inner-container {
    box-sizing: border-box;
    min-width: 1200px;

}
.trip-header-title {
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    text-align: start;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    max-width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
}


.trip-history {
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 4px 4px 4px 4px rgba(208, 206, 206, 0.5);
}
.hostings-info-container {
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.booking-info {
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 4px 4px 4px 4px rgba(208, 206, 206, 0.5);
}

.booking-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    box-shadow: 4px 4px 4px 4px rgba(208, 206, 206, 0.5);
    border-radius: 50px;
    justify-content: space-between;

}
.yes-reviews {
    padding-top: 20px;
}
.booking-info-left,
.yes-hostings-inner,
.yes-reviews-inner{
    flex: 1;
    margin-right: 20px;
}

.current-no-reservation {
    font-size: 30px;
    font-weight: bold;
}
.reservation-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.current-reservation-title, 
.hosting-title {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 70px;
    padding-top: 30px;
    

}
.current-reservation-title > p ,
.yes-hostings,
.yes-reviews{
    color: #626060;
}
.current-reservation-max {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.current-reservation-date {
    margin-top: 5px;
    font-size: 18spx;
    display: flex;
    flex-direction: column;
}
.current-reservation-location {
    font-size: 18px;
}
.current-reservation-location span:first-child {
    font-weight: bold;
    padding-bottom: 10px;
    font-style: italic;
}

.current-reservation-date span:first-child {
    padding-bottom: 10px;
    font-weight: bold;
    font-style: italic;
}
.current-reservation-location {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.review-photo {
    display: flex;
}

.review-photo img,
.bnb-photo img,
.hosting-photo img,
.nobnb-photo img,
.no-hosting-photo img {
    flex:1;
    max-width: 400px;
    height: auto;
    overflow: hidden;
    border-radius: 50px;    
}
.no-reservation-container,
.no-hostings,
.no-reviews{
    display: flex;
    flex-direction: row;
}
.no-reservation {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    height: auto;
    object-fit: fill;
}

.no-reservation p {
    font-size: 15px;
    font-weight: bold;
}
.button-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 67px;
}
.booking-container .review-button {
    margin: 8px;
    padding: 13px;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border-radius: 25px;
    border: none;
    overflow: hidden;
    outline: none;
    justify-content: center;
    width: 100px;
    background-color: #f65f7a;
    box-shadow: 0 8px 8px 0 rgba(233, 131, 180, 0.315), 0 6px 6px 0 rgba(254, 14, 186, 0.19);
    color: white;
    font-size: 15px;
}
.review-button.reviewed {
    margin: 8px;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border-radius: 25px;
    border: none;
    overflow: hidden;
    outline: none;
    justify-content: center;
    width: 230px;
    background-color: #5555559e;
    box-shadow: 0 8px 8px 0 rgba(105, 105, 105, 0.315), 0 6px 6px 0 rgba(94, 94, 94, 0.19);
    color: white;
    font-size: 15px;
}
.reviews-index-container .review-edit-button, 
.reviews-index-container .review-delete-button,
.booking-container .edit-button,
.booking-container .delete-button,
.yes-hostings-container .edit-button, 
.yes-hostings-container .delete-button{
    margin: 8px;
    padding: 13px;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border-radius: 50px;
    border: none;
    overflow: hidden;
    outline: none;
    justify-content: center;
    width: 80px;
    background-color: #f65f7a;
    box-shadow: 0 8px 8px 0 rgba(233, 131, 180, 0.315), 0 6px 6px 0 rgba(254, 14, 186, 0.19);
    color: white;
    font-size: 18px;
}
.edit-button:hover {
    background-color: #dc779a;

}
.yes-hostings-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    box-shadow: 4px 4px 4px 4px rgba(208, 206, 206, 0.5);
    border-radius: 50px;
    justify-content: space-between;

}
.yes-hostings-inner{
    display: flex;
    flex-direction: column;
}

.hosting-title-below,
.review-title-below {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hosting-title {
    padding-top: 50px
}
.other-info {
    display: flex;
    flex-direction: column;
}
.other-info span {
    text-align: start;
    padding-left: 30px;
}
.other-info span:last-child {
    margin-bottom: 20px;
}

.location span:first-child {
    font-weight: bold;
    font-style: italic;
}
.location span:first-child p {
    padding-bottom: 20px;
}
.no-hostings, .no-reviews {
    display: flex;
    flex-direction: row;
}

.yes-hostings-container .button-container {
    padding-top: 50px;
    padding-left: 20px;
}
.other-info span {
    padding-bottom: 10px;
}
.location span:nth-child(2) p {
    padding-bottom: 8px;
}

.reviews-info-container {
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.reviews-index-container {
    display: flex;
    flex-direction: row;
    box-shadow: 4px 4px 4px 4px rgba(208, 206, 206, 0.5);
    margin-bottom: 40px;
    border-radius: 50px;
}
.review-description {
    padding: 30px;
}

.review-description span:first-child p{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: start;

}
.review-description span:nth-child(2) p{
    text-align: start;
}
.review-description span p{
    padding-bottom: 10px;
}
.no-current-reservation, 
.no-review-content {
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    
}
.review-title-below {
    display: flex;
    flex-direction: column;
}
.reviews-index-title {
    padding-bottom: 10px;
}
.review-index-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.review-index-container  .button-container {
    padding-top: 50px;    
}
.yes-reviews-inner {
    display: flex;
    flex-direction: column;
}
.review-title-container {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}
.reviews-index-container .button-container {
    padding-top: 60px;
    padding-left: 25px;
}
.select-trip {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;

}
.booking-title, 
.booking-history, 
.hostings-history,
.reviews-index-title {
    padding-right: 30px;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 30px;
    margin-bottom: 10px;
    text-align: start;
    color: #FF385C;
    cursor: pointer;
}

.select-trip  div:hover {
    box-shadow: 4px 4px 4px 4px rgba(208, 206, 206, 0.5);
    cursor: pointer !important;
    border-radius: 50px !important;
}