
.trip-outer-container {
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    padding: 5px;
    margin-left: 160px;
    margin-right: 160px;
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 175px;
    height: 100%;
}
.trip-inner-container {
    box-sizing: border-box;
    min-width: 1440px;

}
.trip-header-title {
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    text-align: start;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    max-width: 100%;
}


.trip-history {
    padding-bottom: 20px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 4px 4px rgba(208, 206, 206, 0.5);
}
.hostings-info-container {
    padding-bottom: 20px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 4px 4px rgba(208, 206, 206, 0.5);

}
.booking-info {
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    box-shadow: 4px 4px 4px 4px rgba(208, 206, 206, 0.5);
}

.booking-title, .booking-history,.hostings-history {
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    text-align: start;
    color: #FF385C;
}

.booking-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* border: 1px solid #ccc; */
    padding: 10px;
}

.booking-info-left,
.yes-hostings-inner {
    flex: 1;
    margin-right: 20px;
}

.current-no-reservation {
    font-size: 30px;
    font-weight: bold;
}
.reservation-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.current-reservation-title, 
.hosting-title {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 70px;

}
.current-reservation-title > p {
    color: #626060;
}
.current-reservation-max {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.current-reservation-date {
    margin-top: 5px;
    font-size: 18spx;
    display: flex;
    flex-direction: column;
}
.current-reservation-location {
    font-size: 18px;
}
.current-reservation-location span:first-child {
    font-weight: bold;
    padding-bottom: 10px;
    font-style: italic;
}

.current-reservation-date span:first-child {
    padding-bottom: 10px;
    font-weight: bold;
    font-style: italic;
}
.current-reservation-location {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.bnb-photo img,
.hosting-photo img,
.nobnb-photo img,
.no-hosting-photo img {
    flex:1;
    max-width: 400px;
    height: auto;
    border-radius: 25px;
    padding-right: 10px;

}
.no-reservation-container,
.no-hostings{
    display: flex;
    flex-direction: row;
}
.no-reservation {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.no-reservation p {
    font-size: 18px;
}
.button-container {
    display: flex;
    flex-direction: column;
}
.edit-button, .delete-button{
    margin: 8px;
    padding: 13px;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border-radius: 50px;
    border: none;
    overflow: hidden;
    outline: none;
    justify-content: center;
    width: 150px;
    background-color: #FFB2BE;
    color: white;
    font-size: 18px;


}
.edit-button:hover {
    background-color: #dc779a;

}
.yes-hostings-container {
    display: flex;
    flex-direction: row;
}
.yes-hostings-inner {
    display: flex;
    flex-direction: column;
}

.hosting-title-below {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hosting-title {
    padding-top: 50px
}
.other-info {
    display: flex;
    flex-direction: column;
}
.location span:first-child {
    font-weight: bold;
    font-style: italic;
}
.location span:first-child p {
    padding-bottom: 20px;
}
.no-hostings {
    display: flex;
    flex-direction: row;
}
.yes-hostings-container div:first-child button {

}
.yes-hostings-container .button-container {
    padding-top: 50px;
    padding-left: 20px;
}
.other-info span {
    padding-bottom: 10px;
}
.location span:nth-child(2) p {
    padding-bottom: 8px;
}