.map {
    margin-bottom: 50px;

}
.info-window-content {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}
.content-text-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.content-other-info-outer {
    display: flex;
    flex-direction: row;
}
.content-title {
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px;
}
.content-img-info {
    padding: 0;
    margin: 0;
}
.content-img-info img {
    width: 180px;
    height: auto;
    border-radius: 25px;
}
.content-price {
    padding-right: 20px;
    font-size: 17px;
}
.content-price p:first-child {
    font-weight: bold;
}
.content-price p:nth-child(2) {
    font-weight: 400;
}
.content-other-info-outer {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 50px;
}
.content-other-info {
    display: flex;
    flex-direction: row;
    font-size: 17px;
    padding-left: 20px;
    font-weight: 600;
}
.content-other-info p {
    padding-right: 5px;
}