
.modal-background {
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  /* width: 30%; */
  width: 480px;
  height: 70%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  position: absolute;
  border: 1px solid #333;
  font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;

  }
  
  .modal-content-top {
    display: flex;
    padding: 8px;
    justify-content: flex-end; /* Align the button to the right */
  }
  .modal-content-top button {
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border-radius: 50px;
    border: none;
    overflow: hidden;
    outline: none;
  }
  .modal-content-top button:hover {
    background-color: #F7F7F7;
  }

  
  .modal-content-center {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }
  
  .modal-content-title {
    font-size: 24px;
    margin-bottom: 30px; 
  }
  

.modal-login,
.modal-signup {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  align-items: center;
}

.gender-select {
  height: 38px;
  width: 280px;
  border:2px solid rgb(205, 205, 205);
  border-radius: 16px;
  font-size: 16px;
}
optgroup {
  font-size: 0.5px;
}

.username-input-label,
.email-input-label, 
.password-input-label,
.gender-select-label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.input-label input{
  height: 42px;
  width: 280px;
  border:2px solid rgb(205, 205, 205);
  border-radius: 16px;
  font-size: 16px;
}

.modal-content-login button {
    width: 280px;
    margin: 20px;
    padding: 8px;
    margin-top: 80px;
    background-color: #FF385C;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.modal-content-login button:hover {
    background-color: rgb(251, 129, 133);
}

.username-errors,
.email-errors,
.pw-errors,
.gender-errors {
  color: red;
  font-weight:normal;
  font-style: italic;
}
