*{
    box-sizing: border-box;
}

.host-container h3{
    font-weight: bold;
    font-style: italic;
    color: #999;
}
.host-container {
    display: flex;
    width: 100vw;
    padding: 50px;
    padding-right: 350px;
    padding-left: 350px;
    font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
    justify-content: center;
    flex-direction: column;

}

h1 {
    font-size: 30px;
    font-weight: bold;
}
.hosting-form,
.hosting-greet {
    text-align: left;
    padding: 30px;
}
.hosting-greet {
    border-bottom: 1px solid;
    border-bottom-color: #d3d3d3;
}

.hosting-form label {
    margin-left: 10px;
    padding-top: 15px;
    display: block;
    text-align: left;
    font-size: 20px;
    border-bottom: 1px solid;
    border-bottom-color: #d3d3d3;
}
.bed-container label,
.yn-container label {
    border:none
}


.hosting-form .title-input {
    margin-left: 0;
}
.title-input,
.description-input,
.price-input, 
.category,
.capacity-input,
.address-input, 
.city-input, 
.state-input,
.country-input {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 42px;
    width: 700px;
    border:2px solid rgb(107, 106, 106);
    border-radius: 16px;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    text-indent: 10px;
}
.hosting-form input[type="text"] {
    border:2px solid rgb(107, 106, 106);
    border-style: solid;
    border-width: 1px;
}
.hosting-form input::placeholder,
.hosting-form textarea::placeholder,
.hosting-form select::placeholder {
    color: #999; /* Placeholder text color */
    font-style: italic; /* Placeholder text style */
    padding-left: 10px;
}
.hosting-form textarea::placeholder {
    padding-top:10px
}

.description-input {
    height: 100px;
    width: 700px;
}

.yn{
    padding: 10px;
    display: flex;
}

.yn span:nth-child(2) {
    margin-left: 10px;
}

#num-beds {
    border-bottom: none;

}

/* #Bedrooms, bathrooms, beds  */
.bed-container {
    display: flex;

}
.bed-container input {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 7px;
    height: 30px;
    width: 200px;
    /* border:2px solid rgb(107, 106, 106); */
    border-radius: 16px;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    text-indent: 10px;
}

#button {
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    border-radius: 50px;
    width: 300px;
    border: none;
    overflow: hidden;
    outline: none;
    justify-content: center;

    
}

#button:hover {
    background-color: #dc779a;

}
.yn-container {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-bottom-color: #d3d3d3;
    border-top-color: #d3d3d3;
}

.photo-input {
    border-bottom: 1px solid;
    border-bottom-color: #d3d3d3;
}

.photo-input .photo-label {
    margin-left: 0;
    padding-left: 0;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    margin-top: 1rem;
    border-bottom: none;
}


#photo {
    margin-top: 1rem;
    
}
#photo::file-selector-button {
    font-weight: bold;
    color: #E3185F;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid rgba(128, 128, 128, 0.3);
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
  }

.button-wrapper {
    display: flex;
    justify-content: flex-end;

}
#button {
    width: 280px;
    width: 100%;
    margin: 20px;
    padding: 20px;
    background-color: #E3185F;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}